
/* ----------------Thanks Section--------------- */

.thanks {
    background-color: #fff;
    padding: 102px 0 97px;
}
.achieve {

}
.achieve_title {
    max-width: 427px;
    width: 100%;
}
.achieve_list {
    margin-top: 53px;
}
.achieve_item {
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
}
.achieve_item:not(:last-child) {
    margin-bottom: 35px;
}
.achieve_item:before {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    background-color: #000;
    border: 6px solid #F8DF3B;
    margin-right: 11px;
}
.smile_man {
    max-width: 471px;
    width: 100%;
    height: 471px;
    background: url("../img/Smile_man.jpg") no-repeat center center / cover;;
}
.smile_man:after {
    content: '';
    width: 435px;
    height: 435px;
    background: transparent;
    border: 6px solid #fff;
    display: block;
    margin: 15px 15px;
}